# Trilha 6

## Instalando os pacotes/bibliotecas

In [2]:
install.packages('tidyverse')

also installing the dependencies ‘lattice’, ‘colorspace’, ‘bit’, ‘sass’, ‘rappdirs’, ‘rematch’, ‘nlme’, ‘Matrix’, ‘farver’, ‘labeling’, ‘munsell’, ‘viridisLite’, ‘bit64’, ‘prettyunits’, ‘bslib’, ‘jquerylib’, ‘tinytex’, ‘backports’, ‘generics’, ‘assertthat’, ‘blob’, ‘DBI’, ‘tidyselect’, ‘data.table’, ‘gargle’, ‘cellranger’, ‘ids’, ‘gtable’, ‘isoband’, ‘MASS’, ‘mgcv’, ‘scales’, ‘clipr’, ‘vroom’, ‘tzdb’, ‘Rcpp’, ‘progress’, ‘rmarkdown’, ‘selectr’, ‘broom’, ‘dbplyr’, ‘dplyr’, ‘dtplyr’, ‘forcats’, ‘googledrive’, ‘googlesheets4’, ‘ggplot2’, ‘haven’, ‘hms’, ‘lubridate’, ‘modelr’, ‘readr’, ‘readxl’, ‘reprex’, ‘rvest’, ‘tidyr’


Updating HTML index of packages in '.Library'

Making 'packages.html' ...
 done

## Carregando as bibliotecas

In [3]:
library('tidyverse')

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.1 ──

✔ ggplot2 3.3.5     ✔ purrr   0.3.4
✔ tibble  3.1.6     ✔ dplyr   1.0.8
✔ tidyr   1.2.0     ✔ stringr 1.4.0
✔ readr   2.1.2     ✔ forcats 0.5.1

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

## Ajustando o tempo de timeout para realizar o download

In [4]:
getOption('timeout')
options(timeout=1000)
getOption('timeout')

[1] 60

[1] 1000

## Baixando os arquivos que serão analisados

In [ ]:
URL <- "http://ww2.amstat.org/sections/graphics/datasets/DataExpo2009.zip"
nomeArquivo <- "arquivo_baixado"
download.file(URL, nomeArquivo)

## Realizando a extração dos arquivos

In [ ]:
unzip(nomeArquivo)

## Carregando os dados no dataframe

In [5]:
voos2008 <- read_csv("data//2008.csv.bz2")

Rows: 2389217 Columns: 29
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (5): UniqueCarrier, TailNum, Origin, Dest, CancellationCode
dbl (24): Year, Month, DayofMonth, DayOfWeek, DepTime, CRSDepTime, ArrTime, ...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

## Para validar, repare que ao manter a semente como 42, é esperado que os seis primeiros números de voo sejam: 'N913SW' \| 'N212WN' \| 'N69602'\| 'N550JB' \| 'N284YV' \| 'N305SW':

In [6]:
set.seed(42)
sampleDados <- sample_n(voos2008, 100000)
str(sampleDados)
head(sampleDados$TailNum)

spec_tbl_df [100,000 × 29] (S3: spec_tbl_df/tbl_df/tbl/data.frame)
 $ Year             : num [1:100000] 2008 2008 2008 2008 2008 ...
 $ Month            : num [1:100000] 1 2 2 1 3 3 3 3 4 1 ...
 $ DayofMonth       : num [1:100000] 19 8 11 12 2 30 24 17 10 11 ...
 $ DayOfWeek        : num [1:100000] 6 5 1 6 7 7 1 1 4 5 ...
 $ DepTime          : num [1:100000] 1659 2036 1415 1544 1027 ...
 $ CRSDepTime       : num [1:100000] 1700 2020 1415 1540 1040 ...
 $ ArrTime          : num [1:100000] 1821 2237 1746 1725 1327 ...
 $ CRSArrTime       : num [1:100000] 1825 2250 1750 1735 1327 ...
 $ UniqueCarrier    : chr [1:100000] "WN" "WN" "B6" "MQ" ...
 $ FlightNum        : num [1:100000] 136 1352 467 4283 1789 ...
 $ TailNum          : chr [1:100000] "N752SW" "N407WN" "N589JB" "N635AE" ...
 $ ActualElapsedTime: num [1:100000] 82 121 211 101 180 100 359 145 99 112 ...
 $ CRSElapsedTime   : num [1:100000] 85 150 215 115 167 105 372 143 110 115 ...
 $ AirTime          : num [1:100000] 72 106 186 81 146 84 332 119 90 96 ...
 $ ArrDelay         : num [1:100000] -4 -13 -4 -10 0 -6 -18 3 -11 -8 ...
 $ DepDelay         : num [1:100000] -1 16 0 4 -13 -1 -5 1 0 -5 ...
 $ Origin           : chr [1:100000] "SMF" "HOU" "BOS" "LIT" ...
 $ Dest             : chr [1:100000] "SAN" "MDW" "RSW" "ORD" ...
 $ Distance         : num [1:100000] 480 937 1249 552 1023 ...
 $ TaxiIn           : num [1:100000] 3 8 7 10 7 4 5 15 3 5 ...
 $ TaxiOut          : num [1:100000] 7 7 18 10 27 12 22 11 6 11 ...
 $ Cancelled        : num [1:100000] 0 0 0 0 0 0 0 0 0 0 ...
 $ CancellationCode : chr [1:100000] NA NA NA NA ...
 $ Diverted         : num [1:100000] 0 0 0 0 0 0 0 0 0 0 ...
 $ CarrierDelay     : num [1:100000] NA NA NA NA NA NA NA NA NA NA ...
 $ WeatherDelay     : num [1:100000] NA NA NA NA NA NA NA NA NA NA ...
 $ NASDelay         : num [1:100000] NA NA NA NA NA NA NA NA NA NA ...
 $ SecurityDelay    : num [1:100000] NA NA NA NA NA NA NA NA NA NA ...
 $ LateAircraftDelay: num [1:100000] NA NA NA NA NA NA NA NA NA NA ...
 - attr(*, "spec")=
  .. cols(
  ..   Year = col_double(),
  ..   Month = col_double(),
  ..   DayofMonth = col_double(),
  ..   DayOfWeek = col_double(),
  ..   DepTime = col_double(),
  ..   CRSDepTime = col_double(),
  ..   ArrTime = col_double(),
  ..   CRSArrTime = col_double(),
  ..   UniqueCarrier = col_character(),
  ..   FlightNum = col_double(),
  ..   TailNum = col_character(),
  ..   ActualElapsedTime = col_double(),
  ..   CRSElapsedTime = col_double(),
  ..   AirTime = col_double(),
  ..   ArrDelay = col_double(),
  ..   DepDelay = col_double(),
  ..   Origin = col_character(),
  ..   Dest = col_character(),
  ..   Distance = col_double(),
  ..   TaxiIn = col_double(),
  ..   TaxiOut = col_double(),
  ..   Cancelled = col_double(),
  ..   CancellationCode = col_character(),
  ..   Diverted = col_double(),
  ..   CarrierDelay = col_double(),
  ..   WeatherDelay = col_double(),
  ..   NASDelay = col_double(),
  ..   SecurityDelay = col_double(),
  ..   LateAircraftDelay = col_double()
  .. )
 - attr(*, "problems")=<externalptr>

[1] "N752SW" "N407WN" "N589JB" "N635AE" "N9333"  "N429AA"

Por fim, este conjunto de dados de exemplo com 100.000 observações será salvo em um arquivo chamado voos2008.csv, e isso é feito com a função write_csv do pacote tidyverse:

In [7]:
write_csv(sampleDados, 'voos2008.csv')

Repare em sua pasta de trabalho que existe um arquivo chamado voos2008.csv com aproximadamente 10Mb de tamanho.

## Dicionário de dados

| Variável              | Descrição                                                                 |
|-----------------------|---------------------------------------------------------------------------|
| **Year**              | 1987-2008                                                                 |
| **Month**             | 1-12                                                                      |
| **DayOfMonth**        | 1-31                                                                      |
| **DayOfWeek**         | 1 (segunda-feira)-7 (domingo)                                             |
| **DepTime**           | Hora de partida real (local, hhmm)                                        |
| **CRSDepTime**        | Hora de partida programada (local, hhmm)                                  |
| **ArrTime**           | Hora de chegada real (local, hhmm)                                        |
| **CRSArrTime**        | Hora de chegada programada (local, hhmm)                                  |
| **UniqueCarrier**     | Código de operadora único                                                 |
| **FlightNum**         | Número do voo                                                             |
| **TailNum**           | Número da cauda do avião                                                  |
| **ActualElapsedTime** | Tempo real de voo em minutos                                              |
| **CRSElapsedTime**    | Tempo programado de voo em minutos                                        |
| **AirTime**           | Tempo de voo em minutos                                                   |
| **ArrDelay**          | Atraso de chegada, em minutos                                             |
| **DepDelay**          | Atraso de partida, em minutos                                             |
| **Origin**            | Código de aeroporto IATA de origem                                        |
| **Dest**              | Código de aeroporto IATA de destino                                       |
| **Distance**          | Distância em milhas                                                       |
| **TaxiIn**            | Tempo taxiando no pouso, em minutos                                       |
| **TaxiOut**           | Tempo taxiando na decolagem, em minutos                                   |
| **Cancelled**         | Voo foi cancelado?                                                        |
| **CancellationCode**  | Motivo do cancelamento (A = operadora, B = clima, C = NAS, D = segurança) |
| **Diverted**          | 1 = sim, 0 = não                                                          |
| **CarrierDelay**      | Atraso da operadora em minutos                                            |
| **WeatherDelay**      | Atraso do clima em minutos                                                |
| **NASDelay**          | Atraso NAS em minutos                                                     |
| **SecurityDelay**     | Atraso da segurança em minutos                                            |
| **LateAircraftDelay** | Atraso da aeronave em minutos                                             |


Olhando para o dataset, não são todas as variáveis (ou colunas) que precisamos trazer para resolver este problema. O problema é bastante claro: **Qual é o dia da semana/época do ano para voar que minimiza atrasos?** Então, podemos olhar o dicionário de dados deste dataset para escolher algumas variáveis que fazem sentido para ajudar a resolver o problema. No bloco de código abaixo, são apresentadas duas funções do pacote tidyverse. A primeira função é o pipe, que é representado pelo símbolo %\>% e a segunda é a select. 

O pipe permite que funções sejam executadas de forma ordenada, ou seja, uma função será executada somente após a outra. Repare que o símbolo do pipe está entre a variável com os dados e a função select. Isso faz com que o interpretador do R execute a instrução que está do lado esquerdo, para então, a partir de seu resultado, executar a instrução que está do lado direito do pipe. Ou seja, este exemplo de código executará o select em cima da base de dados. 

Já o select é a função responsável por selecionar determinadas colunas em um dataset, fazendo com que somente aquelas colunas definidas sejam mantidas no retorno da função. Observe que o código abaixo faz a seleção de apenas sete variáveis, entre as 29 existentes no dataset, e as armazena em um novo objeto chamado novoDataset:

In [8]:
novoDataset <- voos2008 %>%
  select(Year,Month,DayofMonth,DepTime,DepDelay,ArrDelay,Cancelled)

Por enquanto, todas as 100.000 observações (linhas) são mantidas, mas somente as sete variáveis que são relevantes para resolver o problema foram retornadas. É possível ver este resultado com a função str() já estudada, e também com a função head() estudada há pouco:

In [9]:
str(novoDataset)
head(novoDataset)

tibble [2,389,217 × 7] (S3: tbl_df/tbl/data.frame)
 $ Year      : num [1:2389217] 2008 2008 2008 2008 2008 ...
 $ Month     : num [1:2389217] 1 1 1 1 1 1 1 1 1 1 ...
 $ DayofMonth: num [1:2389217] 3 3 3 3 3 3 3 3 3 3 ...
 $ DepTime   : num [1:2389217] 1343 1125 2009 903 1423 ...
 $ DepDelay  : num [1:2389217] 18 5 -6 8 23 4 8 2 -1 28 ...
 $ ArrDelay  : num [1:2389217] 16 2 -4 -2 16 0 3 5 -5 26 ...
 $ Cancelled : num [1:2389217] 0 0 0 0 0 0 0 0 0 0 ...

  Year Month DayofMonth DepTime DepDelay ArrDelay Cancelled
1 2008 1     3          1343    18       16       0
2 2008 1     3          1125     5        2       0
3 2008 1     3          2009    -6       -4       0
4 2008 1     3           903     8       -2       0
5 2008 1     3          1423    23       16       0
6 2008 1     3          2024     4        0       0

Agora, repare em mais uma condição no bloco de código que utiliza o pipe. Veja que foi adicionada no final da linha uma nova instrução. Desta vez, a função filter foi incluída, e **13**

também foi adicionado um operador lógico de comparação com o valor 9 na variável Month. Esta função filter fará com que o dado seja retornado apenas quando o mês for setembro. 

Seguindo a estrutura de como o pipe funciona, o filtro para o mês de setembro será executado somente após a seleção de variáveis já ter sido executada. Ou seja, executa a instrução que está do lado direito do pipe em cima do objeto que está do lado esquerdo. 

Em ordem, este bloco de código executará a ordem: 

1)  Pegar todos os dados. 

2)  Selecionar apenas sete variáveis. 

3)  Fazer um filtro para o mês de setembro. 

Observe que, agora com o filtro aplicado, o conjunto de dados não tem mais 100.000 linhas. Ficou com apenas 7.739 que foram observadas no mês de setembro:

In [10]:
novoDataset <- voos2008 %>%
  select(Year,Month,DayofMonth,DepTime,DepDelay,ArrDelay,Cancelled) %>%
  filter(Month == 9)

str(novoDataset)

tibble [0 × 7] (S3: tbl_df/tbl/data.frame)
 $ Year      : num(0)
 $ Month     : num(0)
 $ DayofMonth: num(0)
 $ DepTime   : num(0)
 $ DepDelay  : num(0)
 $ ArrDelay  : num(0)
 $ Cancelled : num(0)

Bom, agora que já sabemos como realizar operações de pipe, select e filter, é hora de voltar para resolver o problema proposto. O objetivo principal é pensar em quais épocas são melhores para se ter mais eficiência com os voos, porém o problema pede duas formas diferentes de encontrar essa época: dia da semana e época do ano. Para simplificar o estudo, pensaremos em época do ano como sendo o mês. 

Ao fazer a operação manual para calcular a média de atraso de um mês específico, pode-se filtrar o mês que deseja e, então, calcular a média de atraso da decolagem. A média é calculada com a função mean. Veja no código abaixo como seria uma forma de se fazer este cálculo da média:

In [11]:
novoDataset <- voos2008 %>%
  select(Year,Month,DayofMonth,DepTime,DepDelay,ArrDelay,Cancelled) %>%
  filter(Month == 9)

mean(novoDataset$DepDelay, na.rm = TRUE)

[1] NaN

Veja que a média de atraso no mês de setembro é de 3.72 minutos. Porém, o que buscamos é descobrir a melhor época do ano para não ter atrasos. 

Combinamos há pouco que trataríamos a época como meses. Então, faremos esse cálculo para todos os meses? 

Para isso, inseriremos três novas funções em nosso estudo. A função mutate, capaz de criar uma nova variável a partir de alguma operação programada; a função group_by, capaz de fazer o agrupamento dos dados a partir das variáveis definidas; e a função arrange, capaz de ordenar os dados de forma crescente a partir das variáveis informadas. 

Veja como fica uma possível forma de resolver o problema, utilizando as funções que aprendemos até agora:

In [12]:
voos2008 %>%
  select(Month,DepDelay) %>%
  group_by(Month) %>%
  mutate(atrasoMedio = mean(DepDelay, na.rm = TRUE)) %>%
  select(Month,atrasoMedio) %>%
  unique() %>%
  arrange(atrasoMedio)

  Month atrasoMedio
1 4      8.201133
2 1     11.476096
3 3     12.491269
4 2     13.706226

A média de atraso foi criada com a função mean e salva em uma nova variável chamada atrasoMedio com a função mutate. No final do bloco de código acima, foi incluída a função unique que remove os valores duplicados. Como anteriormente à função unique estava **15**

uma função de seleção das variáveis Month e atrasoMedio, somente uma aparição da combinação dessas duas variáveis será apresentada. Por fim, após todos os processos de manipulação de dados, é feita a ordenação com a variável atrasoMedio para que o resultado apresente os atrasos em ordem crescente. Assim, é possível ver quais meses são os melhores para voar: 

**Pergunta 1) Aproveitando a função mutate, como deve ser feito o cálculo de tempo médio de atraso de voo com todas as observações (linhas) que temos no dataset original? Mostre os dez primeiros registros deste resultado.**

In [13]:
voos2008 %>%
  select(ArrTime,CRSArrTime, ArrDelay, TailNum, Month) %>%
  group_by(TailNum) %>%
  mutate(tempoAtraso = mean(ArrTime - CRSArrTime)) %>%
  select(TailNum, tempoAtraso) %>%
  unique() %>%
  arrange(tempoAtraso, TailNum) %>%
  head(10)

   TailNum tempoAtraso
1  N853NW  -2193.0000
2  N1610D   -349.7500
3  N222UA   -264.1667
4  N079AA   -172.9160
5  N7AMAA   -165.9474
6  N3APAA   -154.4743
7  N7BPAA   -152.6667
8  N068AA   -131.3830
9  N7BVAA   -127.7500
10 N3BKAA   -125.8893

**Pergunta 2) No experimento para mostrar o mês com menos atrasos, o que acontece se executar a função unique() antes de executar a função select?**

In [14]:
voos2008 %>%
  select(Month,DepDelay) %>%
  group_by(Month) %>%
  mutate(atrasoMedio = mean(DepDelay, na.rm = TRUE)) %>%
  unique() %>%
  select(Month,atrasoMedio) %>%
  arrange(atrasoMedio)

     Month atrasoMedio
1    4     8.201133
2    4     8.201133
3    4     8.201133
4    4     8.201133
5    4     8.201133
6    4     8.201133
7    4     8.201133
8    4     8.201133
9    4     8.201133
10   4     8.201133
11   4     8.201133
12   4     8.201133
13   4     8.201133
14   4     8.201133
15   4     8.201133
16   4     8.201133
17   4     8.201133
18   4     8.201133
19   4     8.201133
20   4     8.201133
21   4     8.201133
22   4     8.201133
23   4     8.201133
24   4     8.201133
25   4     8.201133
26   4     8.201133
27   4     8.201133
28   4     8.201133
29   4     8.201133
30   4     8.201133
⋮    ⋮     ⋮
2561 2     13.70623
2562 2     13.70623
2563 2     13.70623
2564 2     13.70623
2565 2     13.70623
2566 2     13.70623
2567 2     13.70623
2568 2     13.70623
2569 2     13.70623
2570 2     13.70623
2571 2     13.70623
2572 2     13.70623
2573 2     13.70623
2574 2     13.70623
2575 2     13.70623
2576 2     13.70623
2577 2     13.70623
2578 2     13.70623
2579 2     13.70623
2580 2     13.70623
2581 2     13.70623
2582 2     13.70623
2583 2     13.70623
2584 2     13.70623
2585 2     13.70623
2586 2     13.70623
2587 2     13.70623
2588 2     13.70623
2589 2     13.70623
2590 2     13.70623

**Qual aeroporto devemos evitar?**

Ao se atentar às questões que envolvem os atrasos, alguns outros desafios podem ser pensados. Um deles é: Qual aeroporto atrasa mais nas decolagens? Ao explorar as funções que já estudamos até aqui, esta é uma resposta relativamente simples de se encontrar neste dataset. 

A primeira coisa a se fazer é pensar nas variáveis que serão utilizadas. Para isso, fique atento à pergunta que precisa de resposta. Neste caso, é uma pergunta que exige apenas o aeroporto de decolagem (que é a variável Origin) e qual é o atraso na decolagem (que é a variável DepDelay). Será que conseguimos responder à questão só com essas variáveis? 

Para fazer esta construção passo a passo, e melhorar a forma de fixar o conhecimento estudado, faça a seleção apenas dessas duas variáveis e veja o resultado:

In [15]:
voos2008 %>%
select(Origin, DepDelay) %>%
head(10)

   Origin DepDelay
1  HOU    18
2  HOU     5
3  HOU    -6
4  HOU     8
5  HOU    23
6  HOU     4
7  HOU     8
8  HOU     2
9  HOU    -1
10 HOU    28

Após fazer a seleção das variáveis, é hora de agrupar os códigos do aeroporto de origem. Isso nos ajudará a encontrar a soma dos atrasos. Veja o uso da função group_by e mutate e, em seguida, os dez primeiros registros deste resultado:

In [16]:
voos2008 %>%
  select(Origin, DepDelay) %>%
  group_by(Origin) %>%
  mutate(totalAtraso = sum(DepDelay, na.rm = TRUE)) %>%
  head(10)

   Origin DepDelay totalAtraso
1  HOU    18       278046
2  HOU     5       278046
3  HOU    -6       278046
4  HOU     8       278046
5  HOU    23       278046
6  HOU     4       278046
7  HOU     8       278046
8  HOU     2       278046
9  HOU    -1       278046
10 HOU    28       278046

Repare que os mesmos aeroportos de origem apresentam o mesmo total de atraso. Procure o aeroporto DFW na lista que foi apresentada acima. O total de atraso neste aeroporto é de 43.555 minutos durante todas as observações que estão no dataset. 

O passo seguinte é unir os valores únicos deste resultado. Isso é feito com a função unique **17**

e, para garantir que os dados estão ordenados com os principais atrasos no topo da lista, é necessário fazer a ordenação de forma decrescente. Vimos no e-book que a função arrange nos dá o resultado em ordem crescente. E, se deixar o resultado em ordem crescente, encontraremos os aeroportos que tem menos atrasos, como pode ser visto no bloco de código a seguir:

In [17]:
voos2008 %>%
  select(Origin, DepDelay) %>%
  group_by(Origin) %>%
  mutate(totalAtraso = sum(DepDelay, na.rm = TRUE)) %>%
  select(Origin, totalAtraso) %>%
  unique() %>%
  arrange(totalAtraso) %>%
  head(10)

   Origin totalAtraso
1  ITO    -7423
2  LIH    -6564
3  COD    -1288
4  PIH     -899
5  BTM     -681
6  BLI     -658
7  OXR     -653
8  PSC     -569
9  IYK     -331
10 TUP      -38

Para fazer a ordem inversa dos valores, em vez de usar somente a função arrange, é necessário adicionar a função desc. Esta função tem o objetivo de apresentar os valores do resultado de forma decrescente a partir da variável que foi informada no parâmetro. Veja como fica o código final. 

E dos voos cancelados, quais são as principais causas?

In [18]:
voosCancelados <- voos2008 %>%
  select(Cancelled, CancellationCode) %>%
  filter(Cancelled == 1) %>%
  group_by(CancellationCode) %>%
  mutate(totalAtraso = sum(Cancelled)) %>%
  select(CancellationCode, totalAtraso) %>%
  unique() %>%
  arrange(desc(totalAtraso))
head(voosCancelados)

  CancellationCode totalAtraso
1 A                26075
2 B                25744
3 C                12617
4 D                    6

Repare que o resultado ficou com o código do cancelamento, mas isso não é muito interessante para quem for consumir o resultado de seu trabalho. Se você se lembrar, lá no dicionário de dados, há uma descrição para cada um dos quatro códigos de cancelamento. Que tal juntarmos a descrição com essa manipulação que fizemos? 

Para isso, é necessário criar um outro data frame, para depois utilizarmos uma função de join para unir este novo data frame com o resultado que foi criado. 

Criaremos este data frame, fazendo passo a passo para ficar didático. Então, relembrando o que foi aprendido na Trilha 5, crie dois vetores, um deles terá os códigos e o outro a descrição:

In [19]:
codigoCancelamento = c('A','B','C','D')
descricaoCancelamento = c('Operadora', 'Clima', 'NAS', 'Segurança')

Com os dois vetores criados, é hora de incluir uma nova função em nosso aprendizado. A função \*data.frame\* recebe uma lista de parâmetros compostos que equivalem ao nome da coluna e seus valores. Veja que usaremos a função \*data.frame\* e passaremos o nome da coluna que queremos para \*\*Codigo\*\*, dizendo que ela terá os valores do vetor de código que criamos anteriormente. A mesma coisa será feita com a coluna \*\*Descricao\*\* que receberá os valores que trouxemos lá do dicionário. 

Veja como é esse código:

In [20]:
tiposOcorrencias <- data.frame(Codigo = codigoCancelamento, Descricao =
descricaoCancelamento)
head(tiposOcorrencias)

  Codigo Descricao
1 A      Operadora
2 B      Clima
3 C      NAS
4 D      Segurança

Agora é hora de unir os resultados dos dois data frame, o que tem a sua manipulação de dados e o que tem o código e a descrição dos cancelamentos. Para isso, é necessário utilizar a função join do pacote tidyverse. Esta função permite unir os conjuntos de dados de algumas formas. Recomendo explorar a documentação do join, disponível em \<<https://> dplyr.tidyverse.org/reference/join.html\>, para ter mais detalhes sobre as opções. 

Em nosso exemplo, utilizaremos a função inner_join, informando por qual variável (coluna) faremos a união dos data frames:

In [21]:
inner_join(x=voosCancelados,y=tiposOcorrencias, by = c("CancellationCode" =
"Codigo"))

  CancellationCode totalAtraso Descricao
1 A                26075       Operadora
2 B                25744       Clima
3 C                12617       NAS
4 D                    6       Segurança

Veja que, agora, quem for consumir seu resultado, saberá o que significa A, B, C ou D.

**Síntese**

Neste e-book, estudamos o pacote tidyverse e algumas de suas funções: 

• Pipe 

• Select 

• group_by 

• mutate 

• arrange / desc 

• unique 

• join